body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('law.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
}

.navbar {
    background-color:white;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 

   
    
}

.navbar h1.logo {
    margin: 0;
    padding: 10px;
    color: black;
    float: left;
    font-size: large;
}

h1.logo a {
    text-decoration: none; 
    color: inherit; 
}

img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar nav {
    float: right;
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    
}

.navbar nav ul li {

    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 1%;

    
}

.navbar nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative; 

}

.navbar nav ul li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

.navbar nav ul li a:hover::after {
    background-color: black; 
}



center {
    margin-top: 50px;
}

form {
    width: 300px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: .5px solid white;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
}

select,
input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: grey;
}
